table {
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
